Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "(tsconfig\\.json|biome\\.jsonc|\\.devcontainer/devcontainer\\.json)$"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "(\\.cursor/|worker-configuration\\.d\\.ts)"
          - id: trailing-whitespace
            exclude: "worker-configuration\\.d\\.ts"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: pnpm exec biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "(package(-lock)?\\.json|worker-configuration\\.d\\.ts)"

          - id: prettier
            name: prettier
            entry: pnpm exec prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: pnpm exec eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]
            exclude: "worker-configuration\\.d\\.ts"

Add TeamDisplay component to show team composition for mission proposals.
  src/app/components/TeamDisplay.stories.tsx
  src/app/components/TeamDisplay.tsx
Due: biome, eslint

Add TeamMember component for individual team member display in proposals.
  src/app/components/TeamMember.stories.tsx
  src/app/components/TeamMember.tsx
Due: biome, eslint

Update Node version and Wrangler types.
  .mise/config.toml
Due: none

Add shadcn/ui component library with Tailwind CSS v4.
  components.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/components/GameTimeline.tsx
  src/app/components/PlayerPill.tsx
  src/app/components/ProposalCard.tsx
  src/app/components/ui/avatar.tsx
  src/app/components/ui/badge.tsx
  src/app/components/ui/button.tsx
  src/app/components/ui/card.tsx
  src/app/globals.css
  src/client.tsx
  src/lib/utils.ts
  vite.config.mts
Due: biome, prettier, eslint

Implement fast storybook testing with vitest integration.
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  justfile
  pnpm-lock.yaml
  src/db.ts
  src/tests/game-ingestion.test.ts
  src/tests/highWaterMark.test.ts
  src/tests/rawGameData.test.ts
  vitest.storybook.config.ts
  worker-configuration.d.ts
Due: biome, prettier, eslint

Remove CLAUDE.local.md.
  CLAUDE.local.md
Due: prettier

Configure Dependabot to ignore ataylorme/eslint-annotate-action upgrades.
  .github/dependabot.yml
Due: prettier

Fix storybook tests.
  pnpm-lock.yaml
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.tsx
Due: biome, prettier, eslint

Fix Cloudflare build by downgrading vite to compatible version.
  .github/dependabot.yml
  package-lock.json
  pnpm-lock.yaml
  src/app/components/GameTimeline.tsx
  src/app/components/MissionProgressBar.example.tsx
  src/app/components/MissionProgressBar.tsx
  src/app/components/TimelineSection.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/user/Login.tsx
  vite.config.mts
Due: biome, prettier, eslint

Implement UID route to show all games by player.
  src/app/components/Player.tsx
  src/app/pages/uid/UidDetail.tsx
  src/app/pages/uid/routes.ts
  src/app/services/firestore-rest.ts
  src/worker.tsx
Due: biome, eslint

Switch to versioned preview URLs with proper format.
  .github/workflows/preview.yml
Due: prettier

Add explicit account-id to bypass memberships API call.
  .github/workflows/preview.yml
Due: prettier

Fix Cloudflare preview deployments.
  .github/workflows/cleanup-preview.yml
  .github/workflows/preview.yml
  package-lock.json
  pnpm-lock.yaml
  public/README.md
  worker-configuration.d.ts
  wrangler.preview.jsonc
Due: prettier

Remove unsupported --account-id argument from wrangler versions upload.
  .github/workflows/preview.yml
Due: prettier

Add fast PR preview deployments with automatic cleanup.
  .github/workflows/cleanup-preview.yml
  .github/workflows/preview.yml
Due: prettier

Add second game viewer with mission summary table.
  pnpm-lock.yaml
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/components/MissionSummaryTable.tsx
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/game/routes.ts
  worker-configuration.d.ts
Due: biome, prettier, eslint

Update wrangler.jsonc configuration.
  pnpm-lock.yaml
  wrangler.jsonc
Due: prettier

Remove hardcoded Firebase values from wrangler configuration.
  worker-configuration.d.ts
  wrangler.jsonc
Due: none

Fix Biome configuration schema version and remove unknown rules.
  biome.jsonc
Due: none

Rerecord pnpm-lock.yaml.
  pnpm-lock.yaml
Due: prettier

Rerecord worker-configuration.d.ts.
  worker-configuration.d.ts
Due: none

Fix RequestInfo headers destructuring.
  src/app/headers.ts
  src/app/pages/user/functions.ts
  src/worker.tsx
Due: biome, eslint

Add typecheck to precommit recipe.
  justfile
Due: none

Upgrade rwsdk to 1.0.0-beta.15 and fix build errors.
  .cursor/rules/rwsdk_rwsdk-middleware.mdc
  justfile
  pnpm-lock.yaml
  worker-configuration.d.ts
  wrangler.jsonc
Due: prettier

Fix rwsdk headers API for 1.0.0-beta.15.
  src/app/headers.ts
  src/app/pages/user/functions.ts
  src/worker.tsx
Due: biome, eslint

Exclude worker-configuration.d.ts from pre-commit hooks that modify trailing whitespace.
  .pre-commit-config.yaml
Due: prettier

Use build-ci task in precommit recipe.
  justfile
  src/app/components/GameTimeline.tsx
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/user/Login.tsx
Due: biome, eslint

Replace hardcoded database_id with placeholder in preview config
  wrangler.preview.jsonc
Due: none

Fix build configuration issues.
  .gitignore
  biome.jsonc
  vite.config.mts
Due: none

Implement local game caching for Firebase game browsing.
  src/app/services/firestore-rest.ts
  src/app/services/local-cache.ts
Due: biome, eslint

Add missing test data and CSS module types for MissionSummaryTable.
  src/app/test-data/realGameData.ts
Due: biome, eslint

Exclude eslint_report.json from Biome formatting by using specific JSON file includes.
  biome.jsonc
Due: none

Add AUTH_SECRET_KEY to wrangler vars.
  wrangler.jsonc
  wrangler.preview.jsonc
Due: none

Skip Prisma tests due to upstream WASM incompatibility.
  src/tests/game-ingestion.test.ts
  src/tests/highWaterMark.test.ts
  src/tests/rawGameData.test.ts
Due: biome, eslint

Sync with other builds.
  .pre-commit-config.yaml
  pnpm-lock.yaml
  src/app/components/TeamMember.stories.tsx
  worker-configuration.d.ts
Due: biome, prettier, eslint

Add worker-configuration.d.ts to .gitignore and remove from git tracking
  .gitignore
  worker-configuration.d.ts
Due: none

Add missing dependencies from fresh rwsdk template
  package.json
  pnpm-lock.yaml
Due: prettier

Reformat package.json with tabs instead of spaces
  package.json
Due: none
