Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: pnpm exec biome format --write
  language: system

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

Fix `all-checks` GHA job to fail when dependencies fail.
  .github/workflows/merge-group.yml
Due: prettier

Add SwitchedVoteProposalVotePredicate to detect vote flipping on identical teams.
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Show mission boundaries and votes in grid when spoilers are hidden.
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/components/MissionSummaryTable.tsx
Due: biome, eslint

Port remaining predicate implementations from avalon-log-scraper.
  src/app/models/annotations.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Fix "undefined Victory" bug when game.outcome.winner is not set.
  src/app/components/AnnotatedGameTimeline.tsx
  src/app/components/GameTimeline.tsx
  src/app/components/TimelineSection.tsx
Due: biome, eslint

Improve games list page with clickable panels and compact date format.
  src/app/pages/game/GamesList.module.css
  src/app/pages/game/GamesList.tsx
Due: biome, eslint

Upgrade TypeScript target from ES2021 to ES2022 and module from es2022 to ESNext.
  tsconfig.json
Due: biome

Fix role emoji display showing question marks instead of correct emojis.
  src/app/models/annotations.ts
Due: biome, eslint

Fix overlapping text in AnnotatedGameTimeline when secrets are revealed.
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Add mission vote results display to AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Reduce redundant text in AnnotatedGameTimeline proposal display.
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Use title case for role names and player names in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Restyle AnnotatedGameTimeline to match MissionSummaryTable design patterns.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Fix RiskingEvilLossPredicate incorrectly flagging on-team players as off-team.
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Upgrade Biome CLI from 2.1.1 to 2.3.8
  biome.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier

Restyle AnnotatedGameTimeline card and rows.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Normalize role names to title case.
  src/app/models/annotations.ts
Due: biome, eslint

Support showSecrets query parameter in game pages.
  src/app/components/GameSummaryContent.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
Due: biome, eslint

Fix RiskingEvilLossPredicate not counting Mordred as evil.
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Restyle AnnotatedGameTimeline proposal panel to match MissionSummaryTable.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Display player names as stored instead of title-cased.
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Add proposal leader crown icon and hammer player icon to AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
  src/app/models/annotations.ts
  src/app/models/gameAnnotator.ts
Due: biome, eslint

Fix hammer icon to stay with same player across all proposals in mission.
  src/app/models/annotations.ts
  src/app/models/gameAnnotator.ts
Due: biome, eslint

Fix vertical bar continuity in AnnotatedGameTimeline proposal panel.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Fix mission vote alignment in AnnotatedGameTimeline proposal panel.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Remove redundant headers from AnnotatedGameTimeline mission panels.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Add space between emoji and role name in annotation commentary.
  src/app/models/gameAnnotator.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Add hover tooltip to crown icon showing proposal predicate notes.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Add hover tooltips to proposal votes and mission votes in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Add solid vertical bar separators to AnnotatedGameTimeline to match MissionSummaryTable.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Fix crown icon vertical alignment in AnnotatedGameTimeline statusCell.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Standardize icon and cell sizing in AnnotatedGameTimeline to match MissionSummaryTable.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Add yellow proposer circle behind thumb icons in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Fix hover tooltip cutoff at panel edges in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Add visual indicator for items with hover annotations in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Fix vertical bar continuity around vote icons in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Add predicate for Percival excluding Merlin when no Morgana in game.
  src/app/models/annotations.ts
  src/app/models/proposalPredicates.ts
Due: biome, eslint

Convert mission panels to section headers in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.module.css
Due: none

Consolidate ProposedMerlinPredicate into role-specific predicates.
  src/app/models/proposalPredicates.ts
Due: biome, eslint

Remove player name/role prefix from tooltip notes in AnnotatedGameTimeline.
  src/app/components/AnnotatedGameTimeline.tsx
Due: biome, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: (package(-lock)?\.json|worker-configuration\.d\.ts)
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$, but not: worker-configuration\.d\.ts
