Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: pnpm exec biome format --write
  language: system

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

Decode URL-encoded predicate names in PredicateDetail
  src/app/pages/predicate/PredicateDetail.tsx
Due: biome, eslint

Add interestingRoles property to declare role-level breakdown analysis.
  src/app/components/PersonAnnotationStats.module.css
  src/app/components/PersonAnnotationStats.stories.tsx
  src/app/components/PersonAnnotationStats.tsx
  src/app/models/annotationStatistics.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/predicateRarity.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Add interestingRoles property to declare role-level breakdown analysis.
  src/app/components/PersonAnnotationStats.stories.tsx
  src/app/components/PersonAnnotationStats.tsx
  src/app/models/annotationStatistics.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Fix role stats lookup by using database format throughout.
  src/app/components/PersonAnnotationStats.tsx
  src/app/models/missionVotePredicates.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Use database role format throughout predicate logic
  src/app/components/PersonAnnotationStats.tsx
  src/app/models/annotations.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Standardize role format to database format (uppercase) throughout codebase.
  src/app/components/EndGameEventHandler.stories.tsx
  src/app/components/Game.stories.tsx
  src/app/components/GameInterface.stories.tsx
  src/app/components/GameParticipants.stories.tsx
  src/app/components/PersonAnnotationStats.stories.tsx
  src/app/components/RoleList.stories.tsx
  src/app/components/ViewRoleButton.stories.tsx
  src/app/models/annotations.ts
  src/app/models/predicateEvaluator.test.ts
Due: biome, eslint

Fix assassin role to use uppercase database format.
  src/app/models/annotations.ts
Due: biome, eslint

Consolidate PersonAnnotationGames into GamesList with query parameters.
  src/app/pages/game/GamesList.module.css
  src/app/pages/game/GamesList.tsx
  src/app/pages/person/PersonAnnotationGames.module.css
  src/app/pages/person/PersonAnnotationGames.tsx
  src/app/pages/person/routes.ts
Due: biome, eslint

Add All Roles columns to role-specific behavior tables and update predicate links.
  src/app/components/PersonAnnotationStats.tsx
Due: biome, eslint

Read Vite allowedHosts from VITE_ALLOWED_HOSTS env var.
  vite.config.mts
Due: none

Upgrade eslint to v10, typescript-eslint to 8.57, and prettier to 3.8.1.
  package.json
  pnpm-lock.yaml
Due: prettier

Read Vite allowedHosts from VITE_ALLOWED_HOSTS env var.
  .github/workflows/cleanup-preview.yml
  .github/workflows/preview.yml
  vite.config.mts
Due: prettier

Bump just to 1.46.0 and node to 24.14.0.
  .mise/config.toml
Due: none

Bump just to 1.47.1.
  .mise/config.toml
Due: none

Bump @biomejs/biome from 2.3.8 to 2.4.8.
  package.json
  pnpm-lock.yaml
Due: prettier

Bump eslint from ^10.0.2 to ^10.1.0.
  package.json
  pnpm-lock.yaml
Due: prettier

Upgrade vitest from ^3.2.4 to ^4.1.0.
  package.json
  pnpm-lock.yaml
  vitest.config.ts
  vitest.storybook.config.ts
Due: biome, prettier, eslint

Fix preview.yml wrangler version mismatch and sync GHA workflows with typescript-template.
  .github/workflows/cleanup-preview.yml
  .github/workflows/merge-group.yml
  .github/workflows/preview.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  wrangler.preview.jsonc
Due: prettier

Remove auth/sessions and Durable Objects from the project.
  src/app/pages/Home.tsx
  src/app/pages/user/Login.tsx
  src/app/pages/user/functions.ts
  src/app/pages/user/routes.ts
  src/session/durableObject.ts
  src/session/store.ts
  src/worker.tsx
  wrangler.jsonc
Due: biome, eslint

Remove explicit -c wrangler.json from preview deploy command.
  .github/workflows/preview.yml
Due: prettier

Add Durable Object migrations to properly manage SessionDurableObject lifecycle.
  wrangler.jsonc
Due: none

Fix missing CSS module styles by correcting postbuild copy source filename.
  package.json
Due: none

Fix Prisma 7 generation
  pnpm-lock.yaml
  prisma.config.ts
  prisma/schema.prisma
Due: biome, prettier, eslint

Upgrade pinned just version to 1.52.0 in mise config to match the template.
  .mise/config.toml
Due: none

Add .gitattributes from the project-template
  .gitattributes
Due: none

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: (package(-lock)?\.json|worker-configuration\.d\.ts)
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$, but not: worker-configuration\.d\.ts
