Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "(tsconfig\\.json|biome\\.jsonc|\\.devcontainer/devcontainer\\.json)$"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "(\\.cursor/|worker-configuration\\.d\\.ts)"
          - id: trailing-whitespace
            exclude: "worker-configuration\\.d\\.ts"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: pnpm exec biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "(package(-lock)?\\.json|worker-configuration\\.d\\.ts)"

          - id: prettier
            name: prettier
            entry: pnpm exec prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: pnpm exec eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]
            exclude: "worker-configuration\\.d\\.ts"

Add .gitattributes from the project-template
  .gitattributes
Due: none

Make .gitattributes conditional on tracked bat/cmd and .idea files.
  .gitattributes
Due: none

Sync foundational and lint config files from templates.
  .markdownlint-cli2.jsonc
  .markdownlint.jsonc
  .yamllint.yaml
Due: prettier

Fix violations of zizmor rule: cache-poisoning.
  .github/workflows/preview.yml
Due: prettier

Fix violations of zizmor rule: excessive-permissions.
  .github/workflows/merge-group.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Fix violations of zizmor rule: unpinned-uses.
  .github/workflows/claude.yml
  .github/workflows/cleanup-preview.yml
  .github/workflows/merge-group.yml
  .github/workflows/preview.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
Due: prettier

Fix violations of zizmor rule: artipacked.
  .github/workflows/merge-group.yml
  .github/workflows/preview.yml
  .github/workflows/push.yml
Due: prettier

Add Renovate config for npm/pnpm dependencies
  renovate.json
Due: biome

Format .yamllint.yaml with Prettier
  .yamllint.yaml
Due: prettier

Enable workflow auto-merge for Renovate PRs alongside Dependabot.
  .github/workflows/pull-request.yml
Due: prettier

Migrate pnpm overrides and build allowlist to pnpm-workspace.yaml so pnpm 11 hooks stop rewriting the lockfile.
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier

Add changed-file Just formatting to local hooks and validation pipelines.
  .github/workflows/merge-group.yml
  .mise/config.toml
  .pre-commit-config.yaml
  justfile
Due: prettier

Standardize CI script names to :ci suffix
  justfile
  package.json
Due: none

Remove the JSONC patterns from the check-json exclude because pre-commit never passes .jsonc files to that hook.
  .pre-commit-config.yaml
Due: prettier
