Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: pnpm exec biome format --write
  language: system

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

Add second game viewer with mission summary table.
  pnpm-lock.yaml
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/components/MissionSummaryTable.tsx
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/game/routes.ts
  worker-configuration.d.ts
Due: biome, prettier, eslint

Sync with other builds.
  .pre-commit-config.yaml
  biome.jsonc
  pnpm-lock.yaml
  src/app/components/TeamMember.stories.tsx
Due: biome, prettier, eslint

Update wrangler.jsonc configuration.
  pnpm-lock.yaml
  wrangler.jsonc
Due: prettier

Remove hardcoded Firebase values from wrangler configuration.
  wrangler.jsonc
Due: none

Remove hardcoded Firebase values from wrangler configuration.
  worker-configuration.d.ts
  wrangler.jsonc
Due: none

Use build-ci task in precommit recipe.
  justfile
  src/app/components/GameTimeline.tsx
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/user/Login.tsx
Due: biome, eslint

Fix Biome configuration schema version and remove unknown rules.
  biome.jsonc
Due: none

Rerecord worker-configuration.d.ts.
  worker-configuration.d.ts
Due: none

Rerecord pnpm-lock.yaml.
  pnpm-lock.yaml
Due: prettier

Upgrade rwsdk to 1.0.0-beta.15 and fix build errors.
  .cursor/rules/rwsdk_rwsdk-middleware.mdc
  justfile
  package.json
  pnpm-lock.yaml
  worker-configuration.d.ts
  wrangler.jsonc
Due: prettier

Fix rwsdk headers API for 1.0.0-beta.15.
  src/app/headers.ts
  src/app/pages/user/functions.ts
  src/worker.tsx
Due: biome, eslint

Add typecheck to precommit recipe.
  justfile
Due: none

Skip Prisma tests due to upstream WASM incompatibility.
  src/app/headers.ts
  src/app/pages/user/functions.ts
  src/tests/game-ingestion.test.ts
  src/tests/highWaterMark.test.ts
  src/tests/rawGameData.test.ts
  src/worker.tsx
Due: biome, eslint

Skip Prisma tests due to upstream WASM incompatibility.
  src/tests/game-ingestion.test.ts
  src/tests/highWaterMark.test.ts
  src/tests/rawGameData.test.ts
Due: biome, eslint

Exclude eslint_report.json from Biome formatting by using specific JSON file includes.
  biome.jsonc
Due: none

Add AUTH_SECRET_KEY to wrangler vars.
  wrangler.jsonc
  wrangler.preview.jsonc
Due: none

Exclude worker-configuration.d.ts from pre-commit hooks that modify trailing whitespace.
  .pre-commit-config.yaml
Due: prettier

Fix RequestInfo headers destructuring.
  src/app/headers.ts
  src/app/pages/user/functions.ts
  src/worker.tsx
Due: biome, eslint

Fix build configuration issues.
  .gitignore
  vite.config.mts
Due: none

Update wrangler.jsonc and regenerate worker-configuration.d.ts. Pass AUTH_SECRET_KEY to defineDurableSession.
  .github/workflows/preview.yml
  src/session/store.ts
  worker-configuration.d.ts
  wrangler.jsonc
  wrangler.preview.jsonc
Due: biome, prettier, eslint

fixup! Update wrangler.jsonc and regenerate worker-configuration.d.ts. Pass AUTH_SECRET_KEY to defineDurableSession.
  .github/workflows/preview.yml
  src/session/store.ts
  wrangler.preview.jsonc
Due: biome, prettier, eslint

Sync with other builds.
  .pre-commit-config.yaml
  pnpm-lock.yaml
  src/app/components/TeamMember.stories.tsx
  worker-configuration.d.ts
Due: biome, prettier, eslint

Add missing test data and CSS module types for MissionSummaryTable.
  src/app/test-data/realGameData.ts
Due: biome, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: (package(-lock)?\.json|worker-configuration\.d\.ts)
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$, but not: worker-configuration\.d\.ts
