Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: pnpm exec biome format --write
  language: system

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

Add TeamMember component for individual team member display in proposals.
  src/app/components/TeamMember.stories.tsx
  src/app/components/TeamMember.tsx
Due: biome, eslint

Add Storybook stories for MissionProgressBar component.
  src/app/components/MissionProgressBar.stories.tsx
Due: biome, eslint

Add VotingPanel component with team selection and vote submission.
  src/app/components/VotingPanel.stories.tsx
  src/app/components/VotingPanel.tsx
Due: biome, eslint

Move Badge component inside GameTimeline as nested component.
  src/app/components/Badge.stories.tsx
  src/app/components/Badge.tsx
  src/app/components/GameTimeline.tsx
Due: biome, eslint

Add TeamDisplay component to show team composition for mission proposals.
  src/app/components/TeamDisplay.stories.tsx
  src/app/components/TeamDisplay.tsx
Due: biome, eslint

Add storybook recipe to justfile.
  justfile
Due: none

Add ProposalSection component with mission header and proposal listing.
  src/app/components/ProposalSection.stories.tsx
  src/app/components/ProposalSection.tsx
Due: biome, eslint

Update Node version and Wrangler types.
  .mise/config.toml
Due: none

Add shadcn/ui component library with Tailwind CSS v4.
  components.json
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/components/GameTimeline.tsx
  src/app/components/PlayerPill.tsx
  src/app/components/ProposalCard.tsx
  src/app/components/ui/avatar.tsx
  src/app/components/ui/badge.tsx
  src/app/components/ui/button.tsx
  src/app/components/ui/card.tsx
  src/app/globals.css
  src/client.tsx
  src/lib/utils.ts
  vite.config.mts
Due: biome, prettier, eslint

Implement fast storybook testing with vitest integration.
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  justfile
  package.json
  pnpm-lock.yaml
  vitest.storybook.config.ts
  worker-configuration.d.ts
Due: biome, prettier, eslint

Sync with other builds.
  .pre-commit-config.yaml
  biome.jsonc
  src/db.ts
  src/tests/game-ingestion.test.ts
  src/tests/highWaterMark.test.ts
  src/tests/rawGameData.test.ts
Due: biome, prettier, eslint

Remove CLAUDE.local.md.
  CLAUDE.local.md
Due: prettier

Implement fast storybook testing with vitest integration.
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vitest.setup.ts
  justfile
  package.json
  pnpm-lock.yaml
  src/db.ts
  src/tests/game-ingestion.test.ts
  src/tests/highWaterMark.test.ts
  src/tests/rawGameData.test.ts
  vitest.storybook.config.ts
  worker-configuration.d.ts
Due: biome, prettier, eslint

Configure Dependabot to ignore ataylorme/eslint-annotate-action upgrades.
  .github/dependabot.yml
Due: prettier

Fix storybook tests.
  pnpm-lock.yaml
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.tsx
Due: biome, prettier, eslint

Fix Cloudflare build by downgrading vite to compatible version.
  .github/dependabot.yml
  package-lock.json
  package.json
Due: prettier

Implement dark mode with theme toggle functionality.
  src/app/Document.tsx
  src/app/components/ThemeToggle.stories.tsx
  src/app/components/ThemeToggle.tsx
  src/app/contexts/ThemeContext.tsx
  src/app/pages/Home.tsx
  src/app/pages/HomePage.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/user/Login.tsx
Due: biome, eslint

Convert visual components to use shadcn UI system.
  package.json
  pnpm-lock.yaml
  src/app/components/Breadcrumb.tsx
  src/app/components/Game.tsx
  src/app/components/GameOutcome.tsx
  src/app/components/Mission.tsx
  src/app/components/MissionProgressBar.tsx
  src/app/components/MissionResult.tsx
  src/app/components/Pagination.tsx
  src/app/components/Player.tsx
  src/app/components/PlayerRoster.tsx
  src/app/components/Proposal.tsx
  src/app/components/ProposalVote.tsx
  src/app/components/VoteList.tsx
  src/app/components/ui/breadcrumb.tsx
  src/app/components/ui/pagination.tsx
Due: biome, prettier, eslint

Fix Cloudflare build by downgrading vite to compatible version.
  .github/dependabot.yml
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app/components/GameTimeline.tsx
  src/app/components/MissionProgressBar.example.tsx
  src/app/components/MissionProgressBar.tsx
  src/app/components/TimelineSection.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/user/Login.tsx
  vite.config.mts
Due: biome, prettier, eslint

Implement UID route to show all games by player.
  src/app/components/Player.tsx
  src/app/pages/uid/UidDetail.tsx
  src/app/pages/uid/routes.ts
  src/app/services/firestore-rest.ts
  src/worker.tsx
Due: biome, eslint

Add fast PR preview deployments with automatic cleanup.
  .github/workflows/cleanup-preview.yml
  .github/workflows/preview.yml
Due: prettier

Add explicit account-id to bypass memberships API call.
  .github/workflows/preview.yml
Due: prettier

Switch to versioned preview URLs with proper format.
  .github/workflows/preview.yml
Due: prettier

Remove unsupported --account-id argument from wrangler versions upload.
  .github/workflows/preview.yml
Due: prettier

Fix Cloudflare preview deployments.
  .github/workflows/cleanup-preview.yml
  .github/workflows/preview.yml
  package-lock.json
  pnpm-lock.yaml
  public/README.md
  worker-configuration.d.ts
  wrangler.preview.jsonc
Due: biome, prettier, eslint

Use build-ci task in precommit recipe.
  justfile
  pnpm-lock.yaml
  src/app/components/GameTimeline.tsx
  src/app/components/TeamMember.stories.tsx
  src/app/components/TimelineSection.tsx
  src/app/pages/user/Login.tsx
  worker-configuration.d.ts
Due: biome, prettier, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: package(-lock)?\.json
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$
