Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

biome:
  name: biome
  entry: pnpm exec biome format --write
  language: system

prettier:
  name: prettier
  entry: pnpm exec prettier --write
  language: system

eslint:
  name: eslint
  entry: pnpm exec eslint --fix
  language: system

Fix game parsing to inject firebaseKey as id and deploy to Cloudflare Workers.
  .github/workflows/push.yml
  prisma/schema.prisma
  src/app/pages/game/GameCombined.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/person/PersonDetail.tsx
  src/app/pages/players/PlayersPage.tsx
  src/app/pages/uid/UidDetail.tsx
  src/scripts/import-games.ts
Due: biome, prettier, eslint

Remove gameData.id workaround from game data assignments.
  src/app/pages/game/GameCombined.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/person/PersonDetail.tsx
  src/app/pages/players/PlayersPage.tsx
  src/app/pages/uid/UidDetail.tsx
Due: biome, eslint

Reorganize game routes: move summary to main view, detailed to /detailed
  src/app/pages/game/GameCombined.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/game/routes.ts
Due: biome, eslint

Integrate WASM copy workaround into build process.
  .github/workflows/push.yml
  package.json
Due: prettier

Reorganize Storybook story categories for consistency.
  src/app/components/Achievements.stories.tsx
  src/app/components/ActionPane.stories.tsx
  src/app/components/AssassinationAction.stories.tsx
  src/app/components/Breadcrumb.stories.tsx
  src/app/components/EndGameEventHandler.stories.tsx
  src/app/components/Game.stories.tsx
  src/app/components/GameInterface.stories.tsx
  src/app/components/GameParticipants.stories.tsx
  src/app/components/GamePlayerList.stories.tsx
  src/app/components/Lobby.stories.tsx
  src/app/components/LobbyPlayerList.stories.tsx
  src/app/components/LogoutButton.stories.tsx
  src/app/components/MissionAction.stories.tsx
  src/app/components/MissionResultEventHandler.stories.tsx
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/components/Missions.stories.tsx
  src/app/components/RoleList.stories.tsx
  src/app/components/StartGameEventHandler.stories.tsx
  src/app/components/TeamProposalAction.stories.tsx
  src/app/components/TeamVoteAction.stories.tsx
  src/app/components/ViewRoleButton.stories.tsx
Due: biome, eslint

Add unified PlayerDetailPage and update player routes.
  src/app/pages/players/PlayerDetailPage.tsx
  src/app/pages/players/PlayersPage.tsx
  src/app/pages/players/routes.ts
Due: biome, eslint

Reorganize Storybook categories by game phase (Lobby, Gameplay, Endgame).
  src/app/components/Achievements.stories.tsx
  src/app/components/ActionPane.stories.tsx
  src/app/components/AssassinationAction.stories.tsx
  src/app/components/EndGameEventHandler.stories.tsx
  src/app/components/GameInterface.stories.tsx
  src/app/components/GameParticipants.stories.tsx
  src/app/components/GamePlayerList.stories.tsx
  src/app/components/MissionAction.stories.tsx
  src/app/components/MissionResultEventHandler.stories.tsx
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/components/Missions.stories.tsx
  src/app/components/StartGameEventHandler.stories.tsx
  src/app/components/TeamProposalAction.stories.tsx
  src/app/components/TeamVoteAction.stories.tsx
Due: biome, eslint

Add --local flag to ingest-firestore and auto-sync data on dev startup.
  justfile
  src/scripts/ingest-firestore.ts
Due: biome, eslint

Add --local flag to import-games and use local files for dev startup.
  justfile
  src/scripts/import-games.ts
Due: biome, eslint

Fix WASM module double-hashing in production builds.
  package.json
  vite.config.mts
Due: none

Add ASSETS binding to wrangler.jsonc for serving static assets in dev mode.
  wrangler.jsonc
Due: none

Upgrade dependencies.
  package.json
  pnpm-lock.yaml
Due: prettier

Fix CSS loading in dev and production modes.
  package.json
  src/app/components/CombinedAnnotatedTable.tsx
  src/app/components/MissionSummaryTable.tsx
  src/client.tsx
  src/scripts/import-games.ts
Due: biome, eslint

Add player name links in annotated table.
  src/app/components/CombinedAnnotatedTable.module.css
  src/app/components/CombinedAnnotatedTable.tsx
Due: biome, eslint

Add RWSDK_DEPLOY=1 environment variable to build-ci recipe.
  justfile
Due: none

Add pagination to player detail game history.
  src/app/pages/players/PlayerDetailPage.tsx
Due: biome, eslint

Add PlayerGame table for efficient player filtering.
  justfile
  migrations/0005_add_player_game_table.sql
  prisma/schema.prisma
  src/app/pages/players/PlayerDetailPage.tsx
  src/scripts/import-games.ts
  src/scripts/ingest-firestore.ts
  src/scripts/populate-player-games.ts
Due: biome, eslint

Remove populate-player-games script after successful database migration.
  justfile
  src/scripts/populate-player-games.ts
Due: biome, eslint

Replace hardcoded breadcrumb padding with margin-bottom alignment.
  src/app/components/Breadcrumb.tsx
Due: biome, eslint

Fix setupDb initialization order before PersonService in player pages.
  src/app/pages/players/PlayerDetailPage.tsx
  src/app/pages/players/PlayersPage.tsx
Due: biome, eslint

Add PlayerStats table for paginated players list.
  migrations/0006_add_player_stats_table.sql
  prisma/schema.prisma
  src/app/pages/players/PlayersPage.module.css
  src/app/pages/players/PlayersPage.tsx
  src/scripts/populate-player-stats.ts
Due: biome, eslint

Implement person mapping management system with admin UI and export functionality.
  migrations/0007_add_person_date_range_table.sql
  prisma/schema.prisma
  src/app/components/CombinedAnnotatedTable.module.css
  src/app/components/CombinedAnnotatedTable.tsx
  src/app/pages/admin/ExportPage.tsx
  src/app/pages/admin/routes.ts
  src/app/pages/game/GameCombined.tsx
  src/app/pages/person/PersonDetail.tsx
  src/app/pages/players/PlayerDetailPage.tsx
  src/scripts/populate-people.ts
  src/worker.tsx
Due: biome, eslint

Unify build process across all environments using pnpm run build.
  .github/workflows/preview.yml
  .github/workflows/push.yml
  justfile
  package.json
Due: prettier

Optimize person lookup and externalize configuration.
  justfile
  package.json
  src/app/pages/person/PersonDetail.tsx
  src/scripts/populate-people.ts
Due: biome, eslint

Make annotation indicator dot color match rarity system dynamically.
  src/app/components/CombinedAnnotatedTable.module.css
  src/app/components/CombinedAnnotatedTable.tsx
  src/app/models/predicateRarity.ts
Due: biome, eslint

Implement hidden predicates to reduce annotation UI clutter.
  src/app/components/CombinedAnnotatedTable.tsx
  src/app/models/annotations.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
Due: biome, eslint

Update version from 1.40.0 to 1.44.1.
  .mise/config.toml
Due: none

Update Node version from 24.4.1 to 24.11.1.
  .mise/config.toml
Due: none

Update TypeScript, ESLint, and Prettier dependencies.
  package.json
  pnpm-lock.yaml
Due: prettier

Refactor rarity system to use semantic names and add tsx dependency.
  justfile
  package.json
  pnpm-lock.yaml
  src/app/components/CombinedAnnotatedTable.tsx
  src/app/models/annotations.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/predicateRarity.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
  src/scripts/analyze-rarities.ts
Due: biome, prettier, eslint

Update PersonDetail to match PlayerDetailPage structure and remove orphaned uid routes.
  src/app/pages/person/PersonDetail.tsx
  src/app/pages/uid/UidDetail.tsx
  src/app/pages/uid/routes.ts
  src/worker.tsx
Due: biome, eslint

Fix player statistics aggregation for multi-account persons.
  src/app/models/player-statistics.ts
  src/app/pages/person/PersonDetail.tsx
Due: biome, eslint

Refactor statistics API: rename PlayerStatistics to PersonStatistics.
  src/app/components/LossReasonStats.tsx
  src/app/components/RoleStatsTable.tsx
  src/app/components/SpecialRoleStats.tsx
  src/app/components/YearlyStatsTable.tsx
  src/app/models/player-statistics.ts
  src/app/models/predicateRarity.ts
  src/app/pages/person/PersonDetail.tsx
  src/app/pages/players/PlayerDetailPage.tsx
  src/worker.tsx
Due: biome, eslint

Refactor statistics to use pre-computed tables loaded at database startup.
  migrations/0008_refactor_statistics_tables.sql
  prisma/schema.prisma
  src/app/models/player-statistics.ts
  src/app/pages/people/PeoplePage.tsx
  src/app/pages/people/routes.ts
  src/app/pages/person/PersonDetail.tsx
  src/app/pages/players/PlayerDetailPage.tsx
  src/app/pages/players/PlayersPage.tsx
  src/scripts/populate-player-stats.ts
Due: biome, eslint

Fix assassin stats to support both old and new game schemas.
  src/scripts/populate-player-stats.ts
Due: biome, eslint

Update just to 1.45.0.
  .mise/config.toml
Due: none

Fix LossReasonStats labels.
  src/app/components/LossReasonStats.tsx
Due: biome, eslint

Fix role stats to merge assassin games under ASSASSIN row.
  src/scripts/populate-player-stats.ts
Due: biome, eslint

Refactor GameCombined to use PersonService for person mappings.
  src/app/pages/game/GameCombined.tsx
Due: biome, eslint

Path conditions:
  biome: any of: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$, but not: (package(-lock)?\.json|worker-configuration\.d\.ts)
  prettier: any of: \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$
  eslint: any of: \.(js|jsx|ts|tsx|mjs|cjs)$, but not: worker-configuration\.d\.ts
