Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "(tsconfig\\.json|biome\\.jsonc|\\.devcontainer/devcontainer\\.json)$"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "(\\.cursor/|worker-configuration\\.d\\.ts)"
          - id: trailing-whitespace
            exclude: "worker-configuration\\.d\\.ts"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: pnpm exec biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "(package(-lock)?\\.json|worker-configuration\\.d\\.ts)"

          - id: prettier
            name: prettier
            entry: pnpm exec prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: pnpm exec eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]
            exclude: "worker-configuration\\.d\\.ts"

Implement local game caching for Firebase game browsing.
  src/app/services/firestore-rest.ts
  src/app/services/local-cache.ts
Due: biome, eslint

Fix build configuration issues.
  .gitignore
  biome.jsonc
  vite.config.mts
Due: none

Update wrangler.jsonc and regenerate worker-configuration.d.ts. Pass AUTH_SECRET_KEY to defineDurableSession.
  .github/workflows/merge-group.yml
  src/session/store.ts
  worker-configuration.d.ts
  wrangler.jsonc
Due: biome, prettier, eslint

Replace direct secrets context usage with step outputs in preview workflow.
  .github/workflows/preview.yml
Due: prettier

Replace hardcoded database_id with placeholder in preview config
  wrangler.preview.jsonc
Due: none

Add worker-configuration.d.ts to .gitignore and remove from git tracking
  .gitignore
  worker-configuration.d.ts
Due: none

Add project-specific configuration for Avalon Analytics.
  .pre-commit-config.yaml
  .prettierrc.json5
  CLAUDE.local.md
  biome.jsonc
  eslint.config.ts
  worker-configuration.d.ts
Due: biome, prettier, eslint

Improve dependabot.yml.
  .github/dependabot.yml
Due: prettier

Improve biome.jsonc.
  .prettierignore
  biome.jsonc
Due: none

Improve .pre-commit-config.yaml.
  .pre-commit-config.yaml
Due: prettier

Add CI job to check generated files are up-to-date.
  .github/workflows/merge-group.yml
Due: prettier

Add Storybook for component testing.
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  eslint.config.ts
  pnpm-lock.yaml
  src/app/components/Breadcrumb.stories.tsx
  src/app/components/GameOutcome.stories.tsx
  src/app/components/Mission.stories.tsx
  src/app/components/MissionResult.stories.tsx
  src/app/components/Player.stories.tsx
  src/app/components/Proposal.stories.tsx
  tsconfig.json
Due: biome, prettier, eslint

Fix game state check in GamesList component.
  src/app/pages/game/GamesList.tsx
Due: biome, eslint

Extract Game component from GameDetail page and add to Storybook.
  src/app/components/Game.stories.tsx
  src/app/components/Game.tsx
  src/app/pages/game/GameDetail.tsx
Due: biome, eslint

Add GameConclusion component with role reveal and styling.
  src/app/components/GameConclusion.stories.tsx
  src/app/components/GameConclusion.tsx
Due: biome, eslint

Format files with uv tool run pre-commit run --all-files
  src/app/components/Game.stories.tsx
Due: biome, eslint

Create MissionCircle component with circular badge display.
  src/app/components/MissionCircle.stories.tsx
  src/app/components/MissionCircle.tsx
Due: biome, eslint

Add Badge component with status indicators.
  src/app/components/Badge.stories.tsx
  src/app/components/Badge.tsx
Due: biome, eslint

Add ProposalCard component with enhanced card-style layout.
  src/app/components/ProposalCard.stories.tsx
  src/app/components/ProposalCard.tsx
Due: biome, eslint

Add MissionProgressBar component with visual progress tracking.
  src/app/components/MissionProgressBar.example.tsx
  src/app/components/MissionProgressBar.tsx
Due: biome, eslint

Add PlayerPill component with size variants and interactivity.
  src/app/components/PlayerPill.stories.tsx
  src/app/components/PlayerPill.tsx
Due: biome, eslint

Add VoteList component with approval summary and vote display.
  src/app/components/VoteList.stories.tsx
  src/app/components/VoteList.tsx
Due: biome, eslint

Ingest games from Firebase into local database on games route.
  justfile
  src/app/pages/game/GamesList.tsx
  src/app/services/game-ingestion.ts
  src/db.ts
  src/tests/game-ingestion.test.ts
  vite.config.mts
  worker-configuration.d.ts
Due: biome, eslint

Add pagination controls to games list.
  src/app/components/Pagination.tsx
  src/app/pages/game/GamesList.tsx
  src/app/services/firestore-rest.ts
Due: biome, eslint

Add TimelineSection component with interactive game event timeline.
  src/app/components/TimelineSection.stories.tsx
  src/app/components/TimelineSection.tsx
Due: biome, eslint

Add MissionResult component with enhanced mission outcome display.
  src/app/components/Game.tsx
  src/app/components/MissionResult.stories.tsx
  src/app/components/MissionResult.tsx
Due: biome, eslint

Add GameTimeline component with mission tracking and visual progression.
  src/app/components/GameTimeline.stories.tsx
  src/app/components/GameTimeline.tsx
  src/app/components/MissionProgressBar.tsx
Due: biome, eslint

Add storybook recipe to justfile.
  justfile
Due: none

Add Storybook stories for MissionProgressBar component.
  src/app/components/MissionProgressBar.stories.tsx
Due: biome, eslint

Add Person model and population script for people database.
  migrations/0004_add_person_table.sql
  pnpm-lock.yaml
  prisma/schema.prisma
  src/scripts/populate-people.ts
Due: biome, prettier, eslint

Add PlayerRoster component with player list display.
  src/app/components/PlayerRoster.stories.tsx
  src/app/components/PlayerRoster.tsx
Due: biome, eslint

Add MissionSection component with mission progress, proposals, results, and metadata display.
  src/app/components/MissionSection.stories.tsx
  src/app/components/MissionSection.tsx
Due: biome, eslint

Move Badge component inside GameTimeline as nested component.
  src/app/components/Badge.stories.tsx
  src/app/components/Badge.tsx
  src/app/components/GameTimeline.tsx
Due: biome, eslint

Add ProposalSection component with mission header and proposal listing.
  src/app/components/ProposalSection.stories.tsx
  src/app/components/ProposalSection.tsx
Due: biome, eslint

Add VotingPanel component with team selection and vote submission.
  src/app/components/VotingPanel.stories.tsx
  src/app/components/VotingPanel.tsx
Due: biome, eslint
