Repository motlin/avalon-analytics: changes, and which pre-commit hooks are due for each by the changed paths.
All: biome, prettier, eslint

.pre-commit-config.yaml:

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-yaml
            args: ['--allow-multiple-documents']
          - id: check-json
            # Exclude JSONC files (JSON with Comments) as they need comment support
            exclude: "(tsconfig\\.json|biome\\.jsonc|\\.devcontainer/devcontainer\\.json)$"
          - id: check-toml
          - id: check-xml
          - id: end-of-file-fixer
            exclude: "(\\.cursor/|worker-configuration\\.d\\.ts)"
          - id: trailing-whitespace
            exclude: "worker-configuration\\.d\\.ts"
          - id: check-added-large-files
            args: ['--maxkb=1000']
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: detect-private-key
          - id: mixed-line-ending
            args: ['--fix=lf']

    - repo: local
      hooks:
          - id: biome
            name: biome
            entry: pnpm exec biome format --write
            language: system
            types: [file]
            files: \.(js|jsx|ts|tsx|mjs|cjs|json|json5)$
            exclude: "(package(-lock)?\\.json|worker-configuration\\.d\\.ts)"

          - id: prettier
            name: prettier
            entry: pnpm exec prettier --write
            language: system
            types_or: [yaml, markdown, html]

          - id: eslint
            name: eslint
            entry: pnpm exec eslint --fix
            language: system
            files: \.(js|jsx|ts|tsx|mjs|cjs)$
            types: [file]
            exclude: "worker-configuration\\.d\\.ts"

Include types directory in tsconfig.json
  tsconfig.json
Due: biome

Show enhanced game cards with: - Win/loss status with color-coded borders - Player role displayed with evil/good coloring - Game outcome reason - Special callouts for assassination events
  src/app/pages/uid/UidDetail.tsx
Due: biome, eslint

Replace direct secrets context usage with step outputs in preview workflow.
  .github/workflows/preview.yml
Due: prettier

Update wrangler.jsonc and regenerate worker-configuration.d.ts. Pass AUTH_SECRET_KEY to defineDurableSession.
  .github/workflows/merge-group.yml
  src/session/store.ts
  wrangler.jsonc
Due: biome, prettier, eslint

Fix CI build failures: justfile and preview workflow
  .github/workflows/preview.yml
  justfile
Due: prettier

Pin wrangler version to 4.50.0 in GitHub Actions workflows
  .github/workflows/cleanup-preview.yml
  .github/workflows/preview.yml
Due: prettier

Fix preview workflow to deploy from dist/worker directory
  .github/workflows/preview.yml
Due: prettier

Replace MissionSummaryTable with rich player×proposal grid from avalon-online
  src/app/components/EndGameEventHandler.tsx
  src/app/components/MissionSummaryTable.module.css
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/components/MissionSummaryTable.tsx
  src/app/components/Missions.tsx
  src/app/test-data/realGameData.ts
Due: biome, eslint

Fix production deployment issues with AUTH_SECRET_KEY and Prisma initialization
  justfile
  src/app/models/game.ts
  src/worker.tsx
Due: biome, eslint

Fix UI issues: correct game detail link and add 'use client' directive
  src/app/components/GameTimeline.tsx
  src/app/pages/game/GameSummary.tsx
Due: biome, eslint

Fix MissionSummaryTable CSS module scoping
  src/app/components/MissionSummaryTable.module.css
Due: none

Add CSS stylesheet link to Document.tsx
  src/app/Document.tsx
Due: biome, eslint

Fix FontAwesome icon rendering by bundling CSS and updating manifest hash
  src/app/Document.tsx
  src/app/components/MissionSummaryTable.module.css
  src/client.tsx
Due: biome, eslint

Enhance game summary with conclusion component and achievements display
  src/app/Document.tsx
  src/app/components/EndGameEventHandler.stories.tsx
  src/app/components/GameTimeline.stories.tsx
  src/app/components/LobbyPlayerList.stories.tsx
  src/app/components/MissionSummaryTable.module.css
  src/app/components/TimelineSection.stories.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/test-data/realGameData.ts
  src/client.tsx
Due: biome, eslint

Enhance game conclusion with assassin details and improve outcome handling
  src/app/components/GameConclusion.tsx
  src/app/pages/game/GameSummary.tsx
Due: biome, eslint

Fix GameConclusion server component errors and evil role detection
  src/app/components/GameConclusion.tsx
Due: biome, eslint

Remove Revealed Identities section from GameConclusion component
  src/app/components/GameConclusion.tsx
Due: biome, eslint

Add sample game data to MissionSummaryTable stories
  src/app/components/MissionSummaryTable.stories.tsx
  src/app/test-data/realGameData.ts
Due: biome, eslint

Add build:cf script for Cloudflare Pages deployments
  package.json
Due: none

Add base anchor styling to fix hyperlinks appearing as plain black text
  src/app/globals.css
Due: none

Match game outcome and achievements styling to original avalon-online app
  src/app/components/GameConclusion.module.css
  src/app/components/GameConclusion.tsx
  src/app/pages/game/GameSummary.tsx
Due: biome, eslint

Let client.tsx handle CSS loading via its imports instead of hardcoding hashed asset paths that need manual updates after each build.
  src/app/Document.tsx
Due: biome, eslint

Use stable CSS filenames without hashes for cache busting.
  src/app/Document.tsx
  src/client.tsx
  vite.config.mts
Due: biome, eslint

Style game cards on /games page to match cyan theme.
  src/app/pages/game/GamesList.module.css
  src/app/pages/game/GamesList.tsx
Due: biome, eslint

Remove View Timeline link from games list page.
  src/app/pages/game/GamesList.tsx
Due: biome, eslint

Convert timestamps to user's local timezone in the browser.
  src/app/components/LocalTimestamp.tsx
  src/app/pages/game/GameDetail.tsx
  src/app/pages/game/GameSummary.tsx
  src/app/pages/game/GamesList.tsx
  src/app/pages/uid/UidDetail.tsx
Due: biome, eslint

Add padding to breadcrumb component so it doesn't touch the page edge.
  src/app/components/Breadcrumb.tsx
Due: biome, eslint

Hide winner announcement, outcome reason, assassination info, player roles, and mission votes by default. Show a "Reveal Outcome" button that unhides all spoiler content when clicked.
  src/app/components/GameSummaryContent.tsx
  src/app/components/MissionSummaryTable.tsx
  src/app/components/SpoilerReveal.module.css
  src/app/pages/game/GameSummary.tsx
Due: biome, eslint

Style HomePage to match cyan theme.
  src/app/pages/HomePage.tsx
Due: biome, eslint

Match breadcrumb horizontal padding with header for UI consistency.
  src/app/components/Breadcrumb.tsx
Due: biome, eslint

Port game annotation logic from avalon-log-scraper to timeline view.
  src/app/components/AnnotatedGameTimeline.stories.tsx
  src/app/components/AnnotatedGameTimeline.tsx
  src/app/models/annotations.ts
  src/app/models/gameAnnotator.ts
  src/app/models/missionVotePredicates.ts
  src/app/models/proposalPredicates.ts
  src/app/models/proposalVotePredicates.ts
  src/app/pages/game/GameDetail.tsx
Due: biome, eslint

Add proposal predicates for team composition analysis.
  src/app/models/proposalPredicates.ts
Due: biome, eslint

Fix all-checks job to fail when dependencies fail
  .github/workflows/merge-group.yml
Due: prettier

Fix `all-checks` GHA job to fail when dependencies fail.
  src/app/models/proposalPredicates.ts
Due: biome, eslint

Add NoDreamTeamPlusSelfPredicate to proposal predicates.
  src/app/models/proposalPredicates.ts
Due: biome, eslint
